.bg-hugobot {
	background-color: var(--primary-color);
}

.bg-hugobot-landing {
	background-color: var(--primary-color);
	margin-top: 0.7rem;
	margin-right: 2rem;
	width: 15%;
}

.bg-hugobot a {
	color: white;
}

.main-card {
	margin-top: 6%;
}

.main-text {
	/* font-weight: bold; */
	font-size: 2.5em;
}

.big-btn {
	padding: 1% 4% 3%;
	margin-right: 4%;
	font-size: 160%;
	text-align: center;
}

.selected-btn {
	background-color: blue !important;
}

.bg-hugobot a:hover {
	text-decoration: none;
	color: rgb(248 247 183);
}

.bg-hugobot a:focus {
	text-decoration: none;
	background-color: #26a69a;
}

.text-hugobot {
	color: white;
}

.text-hugoob-advanced {
	text-align: center;
	font-weight: bold;
	font-size: large;
}

.text-hugoob-advanced-second {
	margin-top: 0;
}

.footer-hugobot {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.vertical-scroll {
	position: relative;
	height: 350%;
	overflow: auto;
}

.vertical-scroll-tirp {
	position: relative;
	overflow: auto;
}

.vertical-scroll-tirp > div > table > thead > tr {
	position: sticky;
	top: 0;
	background-color: #fff;
}

.vertical-scroll-entities-state {
	position: relative;
	height: 600px;
	overflow: auto;
}

.text-bold-black {
	font-weight: bold;
	font-size: large;
	color: black;
}

.fat-label {
	width: 200%;
	margin-right: 100%;
}

.fix-margin {
	margin-top: 20px;
	height: 50%;
	width: 50%;
}

.vertical-scroll-advanced {
	display: block;
}

.modal {
	background-color: transparent;
	width: 100%;
	max-height: none;
}

.modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}

.content {
	padding-bottom: 80px;
}

.modal > .content {
	width: 100%;
	padding: 10px 5px;
}

.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}

.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #fff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.tirp-table-buttons {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.button-margin {
	margin-right: 100px;
}

.karmalego-brand {
	margin-left: 0rem;
	margin-top: 1rem;
	margin-bottom: 5px;
}

.btn-lg {
	font-size: large;
	font-weight: bold;
}

.margin-input {
	margin-right: 0;
}

.margin-disc-input {
	margin-right: 7rem;
}

.margin-run-btn {
	padding-top: 2rem;
}

.margin-info-down {
	margin-bottom: 1rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.FontAwesome {
	font-family: 'Font Awesome 5 Free', sans-serif;
	font-weight: 900;
	text-align: center;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.align-loader {
	text-align: -webkit-center;
}

.gradient {
	height: 30px;
	background-image: linear-gradient(to right, white, blue);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
	color: #413838;
	padding-left: 45px;
}

.correlationGradient {
	height: 30px;
	background-image: linear-gradient(to right, white, rgb(255, 0, 0));
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
	color: #413838;
	padding-left: 45px;
}

html {
	scroll-behavior: smooth;
}

.info-line {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;

	& b {
		display: inline;
		white-space: nowrap;
		margin-right: 10px;
	}

	& input {
		display: inline;
		height: 1.4rem;
		margin: 0;
	}
}

.circle {
	display: inline-block;
	border-radius: 50%;
  }
