.carousel{
    height: 100%
}
.carousel-inner {
    height:100%;
}
.carousel .carousel-item {
    height: 100%;
    display: inline-block;
    width: 100%;
}
.controls {
background-color: #7070db;
padding: 5px;
border-radius: 15px;
font-size: 18px !important;
}
.carousel-item.active {
    visibility: visible;
}
.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: #2d3e50;
padding: 5px;
border-radius: 15px;
font-size: 18px !important;
}
.carousel-indicators {
    color: black;
}
.carousel-indicators li { visibility: hidden; }

.carousel-control-next, .carousel-control-prev {
    width: 1.5%;
    height: 7%;
    margin-top: 10px;
}