.navbar:not(.fixed-bottom) {
	padding: 0 20px;
	position: relative !important;
}

.intervals {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.intervals label {
	color: rgb(23 139 168);
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	display: block;
}

.vertical-scroll-intervals {
	position: relative;
	height: 100%;
	overflow: auto;
	border-style: ridge;
}

.btable thead {
	background-color: rgb(86 90 90);
	color: #d7dfdf;
}

.btable input[type='checkbox'] {
	position: relative;
	margin-left: 5px;
	opacity: 1;
}

.limits-table {
	table-layout: fixed;
}

.limits-table td,
th {
	width: 27%;
	text-align: center;
}

.limits-table th {
	vertical-align: top;
}

.btable td {
	padding: 0.25rem;
	vertical-align: middle;
}

.limits-table input[type='number'] {
	height: inherit;
	width: 50%;
	border-style: solid;
	border-color: rgb(204 203 203);
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

.limits-table .shirtcol {
	font-size: 20px;
	padding: 10px 0;
	vertical-align: middle;
}

.limits-table .smallcol {
	font-size: medium;
}

.limits-table thead th {
	vertical-align: top;
}

.axis button {
	margin-top: 10px;
}

.limits {
	margin-top: 35px;
}

.presentation-card {
	width: 90%;
	margin-top: 0;
	align-self: center;
}

.bg-hugobot-toggle-button {
	height: 49px;
	background-color: var(--primary-color);
	line-height: 45px;
	font-weight: bold;
	font-size: large;
	text-transform: none;
}

.btn-group.btn-group-toggle {
	flex-wrap: wrap;
}

.search-table {
	position: relative;
	max-height: 320px;
	overflow: auto;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	border-color: rgb(194 194 233);

	& table thead {
		position: sticky;
		top: 0;
		background-color: #fff;
	}

	& table tr td {
		overflow: hidden;
	}
}

.navbar-tirps > ul {
	height: 100%;
}

.stable {
	margin-bottom: 0;
}

.vis-nav-links {
	font-size: large;
	height: 100%;
	flex-grow: 1;
}

.vis-nav-links > a {
	transition: all 0.3s;
	height: 100%;
	padding: 0 30px;
	text-align: center;
}

.vis-nav-links > a > i {
	height: auto;
}

.navbar div > a > i {
	height: auto;
}

.vis-nav-links > a.active {
	background-color: #94d49b;
}

.sticky-header {
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar-tirps {
	position: fixed;
	z-index: 10;
	background-color: #f1fafa;
}

.navbar-tirps ul {
	vertical-align: middle;
}

.navbar-tirps li a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(0 0 0);
}

.navbar-tirps li a:hover {
	color: rgb(29 63 173);
	background: none;
}

.navbar-tirps li a:not(.disabled):focus {
	background-color: #94d49b;
}

.navbar-tirps li a.disabled {
	color: #94979b;
	cursor: default;
}
.chooseSymbolDrop > button{
	background-color: #2d3e50;
}
.chooseSymbolDrop > ul{
	width: 100%;
	height: 500px;
	overflow-y: scroll;
}
.chooseSymbolDrop > ul > li{
	cursor: pointer;
	width: 100%;
	text-align: center;
	font-size: large;
}

body.active-modal {
    overflow-y: hidden;
}
.btn-modal {
    font-size: 18px;
        float: left;
        position:relative;
}
.Info-modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
        z-index: 3;
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 700px;
    min-width: 300px;
        z-index: 3;
}
.close-modal {
    position: absolute;
    top: 10px;
    left: 10px;
}

